﻿@{
    ViewBag.Title = "Home Page";
  
}-- navigation section -->
<section class="navbar navbar-fixed-top custom-navbar" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand"></a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                
                <li><a href="#home" class="smoothScroll">Anasayfa</a></li>
                <li><a href="#work" class="smoothScroll">Sunduklarımız</a></li>
                <li><a href="#about" class="smoothScroll">Gelişme</a></li>
                <li><a href="#team" class="smoothScroll">Adminlerimiz</a></li>
                <li><a href="#contact" class="smoothScroll">İletişim</a></li>
            </ul>
        </div>
    </div>
</section>

<!-- home section -->
<section id="home">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h3>Akademik Kaynaklara Ulaşmak Bu Kadar Kolay Olmamiştı</h3>
                <hr>
                <a href="~/Views/Home/kayıt.cshtml" class="smoothScroll btn btn-danger">Üye Olun</a>
                <a href="" class="smoothScroll btn btn-default">Giriş Yapın</a>   
                    <div class="form-group">
                        <label for="exampleInputName2">Name</label>
                        <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail2">Email</label>
                        <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
                    </div>
                    <button type="submit" class="btn btn-default">gönder</button>
               
    </div>
</section>

<!-- work section -->
<section id="work">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="section-title">
                    <strong>01</strong>
                    <h1 class="heading bold">Sunduklarımız</h1>
                    <hr>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s">
                <i class="icon-cloud medium-icon"></i>
                <h3>E book Arşivimiz</h3>
                <hr>
                <p>Sitemizde e-book kaynak arşivimiz bulunmaktadır</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.9s">
                <i class="icon-mobile medium-icon"></i>
                <h3>Kaynak paylaşimi</h3>
                <hr>
                <p>e book arşivimizde yoksa o zaman paylaşilan kaynaklara bakabilirsiniz</p>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="1s">
                <i class="icon-chat medium-icon"></i>
                <h3>Sosyal Medyada Biz</h3>
                <hr>
                <p>Sosyal olarakta aktifiz</p>
            </div>

        </div>
    </div>
</section>

<!-- about section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 text-center">
                <div class="section-title">
                    <strong>02</strong>
                    <h1 class="heading bold">Gelişme</h1>
                    <hr>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <img src="images/about-img.jpg" class="img-responsive" alt="about img">
            </div>
            <div class="col-md-6 col-sm-12">
                <h3 class="bold">Üye olarak ailemize katılabilirsiniz</h3>
                <h1 class="heading bold">Ailemize katılıp sizde kullandığınız kaynakları admine msj atabilirsiniz</h1>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active"><a href="#design" aria-controls="design" role="tab" data-toggle="tab">Konular</a></li>
                    <li><a href="#mobile" aria-controls="mobile" role="tab" data-toggle="tab">Yayınlar</a></li>

                </ul>
                <!-- tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="design">
                        <p> Konular admin tarafından kuruluşta belirlenmiştir ama yeni bir konu eklenmesi için gelişme için yardımcı olabilirsin </p>

                    </div>
                    <div role="tabpanel" class="tab-pane" id="mobile">
                        <p>Yayınlar olarak kitaplar yada paylaşılan tezler yer alabilir.Bu konuda seçici davranmadık</p>

                    </div>


                </div>
            </div>
        </div>
    </div>
</section>

<!-- team section -->
<section id="team">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="section-title">
                    <strong>03</strong>
                    <h1 class="heading bold">Adminler</h1>
                    <hr>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay="0.9s">
                <div class="team-wrapper">
                    <img src="images/team1.jpg" class="img-responsive" alt="team img">
                    <div class="team-des">
                        <h4>Merve</h4>
                        <h3>Site Admini</h3>
                        <hr>


                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 text-center">
                <div class="section-title">
                    <strong>06</strong>
                    <h1 class="heading bold">İletişim</h1>
                    <hr>
                </div>
            </div>
            
            <div class="col-md-6 col-sm-12">
                <form action="#" method="get" class="wow fadeInUp" data-wow-delay="0.6s">
                    <div class="col-md-6 col-sm-6">
                        <input type="text" class="form-control" placeholder="Name" name="name">
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <input type="email" class="form-control" placeholder="Email" name="email">
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <textarea class="form-control" placeholder="Message" rows="7" name="message"></textarea>
                    </div>
                    <div class="col-md-offset-4 col-md-8 col-sm-offset-4 col-sm-8">
                        <input type="submit" class="form-control" value="SEND MESSAGE">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
